.Contact{
    width: 100%;
    background: transparent;
}
.con-empty1{height:150px;}
.con-empty2{height:200px;}
.con-wrapper{
    width: 1200px;
    margin-left: 250px;
    background: white;
    transition: 0.25s;
}


.con-title{
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-family: 'dangdanghae';
}


.con-form{
    width: 350px;
    margin: auto;
    margin-top: 100px;
}
.con-form #info{
    display: grid;
    grid-template-columns: 120px 230px;
    margin-top: 40px;
}
.con-form #info div{
    width: 50px;
    height: 50px;
    padding: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.con-form #info div img{
    width: 50px;
}
.con-form div p{
    font-size: 18px;
    font-family: 'simplehae';
}
.con-form #info #link{
    text-decoration: underline;
    color: blue;
}
.con-form #info #link:hover{
    color: gray;
}




@media screen and (max-width: 1467px){
    .con-wrapper{width:1000px;}
}
@media screen and (max-width: 1267px){
    .con-wrapper{width:850px;}
    .con-empty1{height:80px;}
    .con-empty2{height:90px;}
}
@media screen and (max-width: 1117px){
    .con-wrapper{width:100%; margin-left:0;}
}
@media screen and (max-width: 500px){
    .con-title{font-size:23px;}
    .con-form div p{font-size:17px;}
}