.Home{
    width: 100%;
    background: transparent;
}

.home-wrapper{
    width: 1200px;
    height: 100vh;
    margin-left: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-text{
    width: 100%;
    text-align: center;
    font-size: 80px;
    color: white;
    background: rgb(0, 0, 0, 0.5);
}
.home-image{
    width: 100%;
    background: rgb(180, 180, 180);
}


@media screen and (max-width: 1467px){
    .home-wrapper{width:1000px;}
}
@media screen and (max-width: 1267px){
    .home-wrapper{width:850px;}
}
@media screen and (max-width: 1117px){
    .home-wrapper{width:100%; margin-left:0;}
}