.Home{
    width: 100%;
    background: transparent;
}

.home-wrapper{
    width: 1200px;
    height: 100vh;
    margin-left: 250px;
    background: rgb(0, 0, 0, 0.3);
}

.home-wrapper div{
    font-size: 120px;
    color: rgb(173, 173, 173);
}


@media screen and (max-width: 1467px){
    .home-wrapper{width:1000px;}
}
@media screen and (max-width: 1267px){
    .home-wrapper{width:850px;}
}
@media screen and (max-width: 1117px){
    .home-wrapper{width:100%; margin-left:0;}
}