.Home{
    width: 100%;
    background: transparent;
}

.home-wrapper{
    width: 1200px;
    height: 100vh;
    margin-left: 250px;
    background: white;
}

.home-text{
    position: absolute;
    margin-top: 70px;
    margin-left: 50px;
    line-height: 120px;
    font-size: 70px;
}
.home-image{
    width: 100%;
    background: black;
}
.home-image div{
    width: 25%;
    height: 100vh;
    float: left;
}
.home-image div:nth-of-type(1){
    background: linear-gradient(transparent, 80%, blue);
}
.home-image div:nth-of-type(2){
    background: linear-gradient(transparent, 80%, red);
}
.home-image div:nth-of-type(3){
    background: linear-gradient(transparent, 80%, yellow);
}
.home-image div:nth-of-type(4){
    background: linear-gradient(transparent, 80%, green);
}


@media screen and (max-width: 1467px){
    .home-wrapper{width:1000px;}
}
@media screen and (max-width: 1267px){
    .home-wrapper{width:850px;}
}
@media screen and (max-width: 1117px){
    .home-wrapper{width:100%; margin-left:0;}
}