.Home{
    width: 100%;
    background: transparent;
}

.wrapper{
    width: 1200px;
    height: 100vh;
    margin-left: 250px;
    background: rgb(0, 0, 0, 0.5);
}

.text{width:100%; height:100%;}
.svg {width:100%; height:100%;}
.stroke {
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: 0 250;
    stroke-opacity: 1;
    fill: none;
    -webkit-animation: stroke_offset 6s forwards;
    animation: stroke_offset 6s forwards;
    -webkit-animation-timing-function: cubic-bezier(.25, .46, .45, .94);
    animation-timing-function: cubic-bezier(.25, .46, .45, .94)
}
@-webkit-keyframes stroke_offset {
    25% {stroke-dasharray: 0 250; stroke-opacity: 1 }
    50%{stroke-dasharray: 250 0; stroke-opacity: .75 }
    100%{stroke-dasharray: 250 0; stroke-opacity: 0 }
}
@keyframes stroke_offset {
    25% {stroke-dasharray: 0 250; stroke-opacity: 1 }
    50%{stroke-dasharray: 250 0; stroke-opacity: .75 }
    100%{stroke-dasharray: 250 0; stroke-opacity: 0 }
}
.fill {
    fill: white;
    fill-opacity: 0;
    -webkit-animation: fill_offset 4s forwards;
    animation: fill_offset 4s forwards;
    -webkit-animation-timing-function: cubic-bezier(.25, .46, .45, .94);
    animation-timing-function: cubic-bezier(.25, .46, .45, .94)
}
@-webkit-keyframes fill_offset {
    25%, 55%{ fill-opacity: 0 }
    100%{ fill-opacity: 1 }
}
@keyframes fill_offset {
    25%, 55%{ fill-opacity: 0 }
    100% { fill-opacity: 1 }
}
#fade_text{font-family:'shiningstar'; font-size: 70px;}

.image{
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 1467px){
    .wrapper{width:1000px;}
}
@media screen and (max-width: 1267px){
    .wrapper{width:850px;}
}
@media screen and (max-width: 1117px){
    .wrapper{width:100%; margin-left:0;}
}