.Project{
    width: 100%;
}
.proj-empty1{height:120px;}
.proj-empty2{width:80%; height:150px; margin:auto; border-bottom:1px solid #e4e4e4;}

.proj-wrapper{
    width: 1200px;
    margin-left: 250px;
    background: white;
    transition: 0.25s;
}

.proj-title{
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-family: 'dangdanghae';
}

.proj-area{
    margin-top: 50px;
    display: flex;

}

.proj{
    width: 250px;
    height: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.proj #title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
}
.proj #image{
    width:100%;
}
.proj #image img{
    width: 100%;
    object-fit: cover;
}
.proj #info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    background: rgb(0, 0, 0, 0.8);
    opacity: 0;
    transition: 0.3s;
}
.proj #info:hover{
    opacity: 1;
}
.proj #info #text{
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    font-size: 17px;
    font-family: 'simplehae';
    color: white;
}
.proj #info #link{
    margin-left: 10%;
    margin-top: 10px;
}





@media screen and (max-width: 1467px){
    .proj-wrapper{width:1000px;}
}
@media screen and (max-width: 1267px){
    .proj-wrapper{width:850px;}
}
@media screen and (max-width: 1117px){
    .proj-wrapper{width:100%; margin-left:0;}
}
@media screen and (max-width: 500px){
    .proj-title{font-size:28px;}
}