.Project{
    width: 100%;
}
.proj-empty{height:100px;}

.proj-wrapper{
    width: 1200px;
    margin-left: 250px;
    background: white;
    transition: 0.25s;
}

.proj-title{
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-family: 'dangdanghae';
}

.proj-area{
    margin-top: 50px;
}

.proj{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    border: 2px solid gray;
    box-shadow: 0px 5px gray;
}
.proj #title{
    margin: 30px 0;
    text-align: center;
    font-size: 24px;
    font-family: 'dangdanghae';
    grid-column-start: 1;
    grid-column-end: 3;
}
.proj #image{
    width: 80%;
    margin: 20px auto;
}
.proj #image img{
    width: 100%;
    object-fit: contain;
}
.proj #text{
    width: 80%;
    margin: auto;
    font-size: 14px;
}
.proj #link{
    width: 180px;
    height: 50px;
    margin: 30px auto;
    grid-column-start: 1;
    grid-column-end: 3;
}




@media screen and (max-width: 1467px){
    .proj-wrapper{width:1000px;}
}
@media screen and (max-width: 1267px){
    .proj-wrapper{width:850px;}
    .proj{grid-template-columns:1fr;}
    .proj #title{grid-column-end:2;}
    .proj #link{grid-column-end:2;}
}
@media screen and (max-width: 1117px){
    .proj-wrapper{width:100%; margin-left:0;}
}
@media screen and (max-width: 500px){
    .proj-title{font-size:28px;}
}