.Project{
    width: 100%;
}
.proj-empty1{height:120px;}
.proj-empty2{width:80%; height:150px; margin:auto; border-bottom:1px solid #e4e4e4;}

.proj-wrapper{
    width: 1200px;
    margin-left: 250px;
    background: white;
    transition: 0.25s;
}

.proj-title{
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-family: 'dangdanghae';
}

.proj-area{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}




@media screen and (max-width: 1467px){
    .proj-wrapper{width:1000px;}
}
@media screen and (max-width: 1267px){
    .proj-wrapper{width:850px;}
    .proj-empty1{height:50px;}
    .proj-empty2{height:60px;}
}
@media screen and (max-width: 1117px){
    .proj-wrapper{width:100%; margin-left:0;}
}
@media screen and (max-width: 500px){
    .proj-title{font-size:22px;}
}



figure.proj {
  font-family: 'dangdanghae';
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 250px;
  height: 250px;
  background: white;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 20px;
  border-radius: 20px;
}
figure.proj * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
figure.proj img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}
figure.proj figcaption {
  position: absolute;
  top: 45%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  border: 1px solid white;
  border-width: 1px 1px 0;
}
figure.proj .heading {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  width: 100%;
}
figure.proj h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
}
figure.proj h2 span {
  font-weight: 800;
}
figure.proj h2:before,
figure.proj h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
  top: 50%;
}
figure.proj h2:before {
  left: -1000%;
}
figure.proj h2:after {
  right: -1000%;
}
figure.proj p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: 16px;
}
figure.proj a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.proj img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
figure.proj:hover img{
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.proj:hover figcaption{
  top: 7%;
  bottom: 7%;
}
figure.proj:hover p{
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}