.Nav{
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}


/* 메뉴 버튼 */
.menubar{
    margin-left: 80px;
    margin-top: 200px;
    margin-bottom: 150px;
}
.menu-btn{
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50px;
    background: black;
    cursor: pointer;
    outline: none;
    z-index: 100;
}
.menu-btn:hover{background:gray;}
.menubar div:nth-of-type(n+2){
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    background: blue;
    transition: 0.5s;
}
/* 메뉴 버튼 토글 액션(메뉴 펼치기) */
.menubar.active div:nth-of-type(2){margin-left:100px;}
.menubar.active div:nth-of-type(3){margin-top:70px; margin-left: 100px;}
.menubar.active div:nth-of-type(4){margin-top:140px; margin-left: 100px;}
.menubar.active div:nth-of-type(5){margin-top:210px; margin-left: 100px;}
.menubar.active div:nth-of-type(6){margin-top:280px; margin-left: 100px;}


/* 현재 페이지 */
#current-page{
    width: 190px;
    height: 115px;
    font-size: 80px;
    border-bottom: 1px solid black;
    transform: rotate(270deg);
}